*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: black;
    text-decoration: none;

    
}


header{
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-left: 400px;

   
}
nav{
    display: inline-block;
    margin-left: 80px;
 
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 1px;
    margin-left: 40px;
    
   
}
.active{
    background-color: #FF4900;
  border-radius: 20px;
  border: 10px #FF4900 solid;

  
}
.active:hover{
    color: azure;
}
.button{
    background-color: #FF4900;
    border:10px #FF4900 solid;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    
}
nav a:hover{
    color: #FF4900;
    /* border: 2px #FF4900 solid;
    border-radius: 10px; */
}
img{
 
    margin-left: -300px;
    margin-top: 10px;
   
}

.hello{
background-color: #FF4900 !important;
    border: 15px #FF4900 solid;
    width: 150px;
    color: white;
    height: 45px;
    margin-left: 150px;
    position: relative;
    z-index: -1px;
}
div p{
    background: #FF4900;
   
    text-align: center;
}
section h1{
    color: white;
    font-weight: 800;
    font-size: 47px;
    margin-left: 150px;
    
}
section .p{
    color: white;
    margin-left:150px ;
}
button{
    background-color: #FF4900;
    border:10px #FF4900 solid;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 150px;
    cursor: pointer;
}
.button3{
    background-color: black;
    border:1px white solid;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.button4{
    background-color:black;
    border:1px #FF4900 solid;
    color: #FF4900;
    width: 45px;
    height: 100px;
    border-radius: 20px;
    margin-left: 90px;
    position: relative;
    top: 250px;
    
}
section a{
    color: #FF4900;
}

article{
    background-image: url("IMG/man-wearing-black-bow-tie-2330079.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 1100px 700px;
    position: static;
    z-index: 3px;
     margin-top: -400px; 
}
#hello{
   background-color: #FF4900;
}

section div{
    border: 15px #FF4900 solid;
    width: 150px;
    color: white;
    height: 45px;
    margin-left: 1500px;
    background-color: #FF4900;
}



@media (max-width:1023px){
    header{
        padding: 12px ;
        display: inline-block;

    }
    nav a{
        padding-left: 10px;
    }
    section h1{
        font-size: 1px;
    }
    section{
        padding: 20px;
    }
}